html {
  height: 100%;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
}
.setup-page {
  width: 100%;
  max-width: 560px;
  padding: 60px 15px;
  margin: auto;
}
.control-label {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  font-size: $font-size-sm;
}
.lead {
  font-weight: 400;
}
.btn-primary {
  color: $white;
  font-weight: 500;

  &:hover,
  &:focus {
    color: $white;
  }
}
.start .floating-logo,
.proceed .floating-logo {
  display: none !important;
}
.install svg {
  top: 0 !important;
}
.pswp {
  display: none !important;
}
